In [1]:
import json

In [2]:
with open("example_1.json", "r") as fj:
    data = json.load(fj)

In [3]:
print(type(data))

<class 'dict'>

In [4]:
data

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [5]:
data['fruit']

'Apple'

In [6]:
with open("example_2.json", "r") as fj:
    datab = json.load(fj)

In [7]:
datab

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [10]:
datab['quiz']['sport']

{'q1': {'question': 'Which one is correct team name in NBA?',
  'options': ['New York Bulls',
   'Los Angeles Kings',
   'Golden State Warriros',
   'Huston Rocket'],
  'answer': 'Huston Rocket'}}

In [12]:
datab['quiz']['sport']['q1']['question']

'Which one is correct team name in NBA?'

In [13]:
def read_dict(d):
    for k, v in d.items():
        if type(v) is dict:
            read_dict(v)
        else:
            print(v)
        print("------")

In [14]:
read_dict(datab)

Which one is correct team name in NBA?
------
['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket']
------
Huston Rocket
------
------
------
5 + 7 = ?
------
['10', '11', '12', '13']
------
12
------
------
12 - 8 = ?
------
['1', '2', '3', '4']
------
4
------
------
------
------

In [15]:
dict_b = {'aa':100, 'bb':200, 'ff':70}

In [16]:
with open("example_3.json", "w") as fj:
    json.dump(dict_b, fj)